ion-menu {
  --background: none;
  background-color: transparent
  ;
}

ion-list {
  --background: none;
  background-color: transparent;
}

ion-item {
  --background: none;
  background-color: transparent;
}

ion-list ion-list-header ion-menu-toggle {
  --background: none;
  background-color: transparent;
}

ion-content {

  --background: none;
  background-image: linear-gradient(-45deg, #125388, #337aff);
  background-repeat: no-repeat;
  background-size: 800%;
  background-position: center center;
  text-align: center;

  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  --box-shadow: -1px 0px 2px rgba(10, 54, 10, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);

}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#menu-list {
  --background: none;
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#menu-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  --background: none;
  min-height: 20px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  color: #ffffff;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  color: #ffffff;
}

ion-menu.md ion-item.selected ion-icon {
  color: #ffffff;
}

ion-menu.md ion-item ion-icon {
  color: #b8b9b9;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: rgb(0, 238, 255);
}

#shopInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 5%;
  color: white;
  text-align: center;
  font-weight: 1600;
  font-size: 16pt;
}

#profilePicture {
  width: 125px;
  height: 125px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  background-color: white;
  border: 5px solid #1247a3;
}

ion-menu::part(backdrop) {
  background-color: rgba(212, 212, 212, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(0, 153, 255, 0.5);
}
