.menu-item-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 5px;
  background-image: linear-gradient(-45deg, #18d9f3, #337aff);
  box-shadow: none;
  border-radius: 0.5em;
  height: auto;
  position: relative;
  padding: 10px 10px;
  box-sizing: border-box;
}

.item-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5em;
  margin-bottom: 10px;
}

.item-name {
  font-size: 1.3em;
  color: white;
  font-weight: 600;
  margin-bottom: 3px;
  text-align: center;
}

.item-price {
  font-size: 1.1em;
  color: rgb(156, 230, 156);
  font-weight: 700;
  text-align: center;
  margin: 8px 0;
}

.add-to-cart-btn {
  width: 100%;
  padding: 8px 0;
  background-color: #3880ff;
  color: white;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  margin-bottom: 8px;
}

.delete-btn {
  width: 100%;
  padding: 8px 0;
  background-color: #f04141;
  color: white;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  margin-top: auto;
}
